.big-image
  background-image: url(../img/big-image.jpeg)
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  height: 280px

.big-image.necbani
  background-image: url(../img/nekrasovskie-bani.jpg)

.big-image.moscow
  background-image: url(../img/sauna-v-moskve.jpg)

.big-image.obsh
  background-image: url(../img/obshestvennoe-otdelenie.jpg)

@media screen and (min-width: 1024px)
  .big-image
    height: 450px
    margin-top: 25px