*
  box-sizing: border-box

body, html
  max-width: 100vw

.container
  margin: 0 auto
  max-width: 540px

.desktop-main-page-block
  display: none
.mobile-main-page-block
  display: block

@media screen and (min-width: 1024px)
  .container
    margin: 0 auto
    max-width: 940px
  .footer
    width: 688px
    margin: 0 auto
  .desktop-main-page-block
    display: block
  .mobile-main-page-block
    display: none