.seo-text
  padding: 16px 20px
  &__header
    font-size: 30px
    line-height: 40px
    font-weight: bold
    border-bottom: 1px solid $c_border_menu
    margin-bottom: 16px
  &__text
    font-size: 14px
    line-height: 22px
    font-weight: normal
    overflow: hidden
    height: 135px
    color: #505050
  &__read-more
    font-weight: bold
    color: #505050
    cursor: pointer
